/*Elements*/
h1{
    text-align: center;
}
h2{
    font-weight: bold;
}
h3{
    text-align: center;
}
cityInformation{
    display: flex;
    flex-wrap: nowrap;
    stroke: black;
    justify-content: space-between;
}
Searches{

}
header{
    margin-bottom: 25px;
    background-image: linear-gradient(to right, rgb(113, 135, 255),rgb(39, 39, 170),rgb(37, 4, 90));
    height:75px;
    color:white;
}
form {
    margin: 20%;
    margin-top: 10px;
    margin-bottom: 20px;
}
button{
    margin-top: 10px;
    color:white;
    background-color: aqua;
    border-style: none;
    border-radius: 10px;
    min-width: 100%;
}
input{
    width: 100%;
}

.fiveDay{
}
.cityStats{
    margin-left:10px;
}
.card{
    background: steelblue;
    padding-right: 20px;
    margin-right: 20px;
}
.card p{
    color: white;
}
.citySearches{
    text-align: center;
}
#forecastCards{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: row;
}
.searchbar{
    padding-right: 20px;
}

@media only screen and (max-width: 767px) {
    cityInformation{
        flex-wrap: wrap;
    }
    #cityWeather{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .fiveDay{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  }